/* Fondo general */
body, html, #root {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

/* Contenedor principal */
.main-content {
  margin-left: 0px;
  padding: 2rem;


  min-height: 100%;

  background-image: url("/public/image/fondos-vaca.jpg");
  background-size: cover;
  background-position: center 15%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/* Titulo */
.home-container h1 {
  color: #333;
  margin-bottom: 1.5rem;
}

/* Boton cerrar sesion */
.home-container button {
  background-color: #a8d5ba;
  color: #000;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-container button:hover {
  background-color: #96c8a2;
}
